# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../../:\Users\nisat\OneDrive - Aston University\HDrive\Year 2\Semester 1\Computer Graphics\Labs\Lab 1\CS2150_Labs\CS2150_Workspace\CS2150\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
